.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.todo {
  padding: 16px;
  max-width: 540px;
  width: 100%;
  &__list {
    margin-top: 16px;
    &-item {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
      &__controls {
        display: flex;
        align-items: center;
      }
    }
  }
  &__form {
    margin: 8px 0;
    font-size: 16px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__input {
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #303030;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
  }
  &__texarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
  }
  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 4px;
  }
  &__checkbox {
    margin: 0 4px;
  }
}
